include README.md requirements.txt eval_longbench.py eval_ruler.py
recursive-include assets *.svg
recursive-include configs *.yaml
recursive-include docs *.md
recursive-include examples *.py
recursive-include tests *.py
